.info_header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #336699;
  color: #fff; }

.info_header_container {
  position: absolute;
  height: 100%;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  overflow: hidden; }

.info_header_title {
  float: left;
  font-size: 0;
  line-height: 50px; }
  .info_header_title img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-animation: logoRotate 36s linear infinite;
            animation: logoRotate 36s linear infinite; }
  .info_header_title span {
    font-size: 20px;
    vertical-align: middle; }

@-webkit-keyframes logoRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes logoRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.info_header_aside {
  float: right;
  height: 100%;
  line-height: 50px; }
  .info_header_aside_btn {
    display: inline-block;
    padding: 0 5px;
    margin-left: 20px;
    color: #fff; }
    .info_header_aside_btn:hover {
      text-decoration: underline; }

.info_main {
  position: relative;
  width: 100%;
  padding-top: 20px; }

.info_main_container {
  display: table;
  position: absolute;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  min-height: 500px;
  border-radius: 0 0 8px 8px;
  background: #fff;
  box-shadow: 2px 2px 5px 0px #ddd;
  margin-bottom: 60px; }

.info_main_nav {
  display: table-cell;
  min-height: 500px;
  width: 170px;
  background-color: #F9FAFC;
  border-radius: 0 0 0 8px;
  border-right: 1px solid #D2D7DC;
  vertical-align: top; }

.info_main_nav_list {
  padding-top: 18px; }

.info_main_nav_list_item {
  height: 44px;
  width: 100%;
  line-height: 44px;
  margin-bottom: 5px; }
  .info_main_nav_list_item_link {
    position: relative;
    display: block;
    height: 100%;
    padding-left: 20px;
    color: #333;
    font-size: 14px; }
    .info_main_nav_list_item_link i {
      display: inline-block;
      margin-right: 15px; }
    .info_main_nav_list_item_link:hover {
      background-color: #eee; }
  .info_main_nav_list_item_link_Active {
    background-color: #336699 !important;
    color: #fff; }

.info_main_stage {
  display: table-cell;
  padding: 12px 30px;
  vertical-align: top; }

.info_main_content {
  margin-bottom: 20px; }

.info_filter {
  margin-bottom: 15px;
  overflow: hidden;
  margin-left: -20px; }

.info_filter_item {
  float: left;
  margin-left: 20px; }

.info_filter_item_title {
  display: inline-block;
  margin-right: 4px; }

.info_filter_item_link {
  display: inline-block;
  margin: 0 10px; }

.info_newProject_form, .info_account_form, .info_resize_form {
  padding-left: 25px; }

.info_newProject_item {
  margin-bottom: 25px;
  overflow: hidden; }
  .info_newProject_item span {
    float: left;
    width: 70px;
    text-align: right;
    margin-right: 12px;
    line-height: 26px; }

.info_newProject_submitBtn {
  width: 80px;
  margin-left: 80px; }

.info_newProject_name {
  width: 200px; }

.info_account_form {
  padding-top: 10px; }

.info_account_item {
  margin-bottom: 15px; }
  .info_account_item span {
    float: left;
    width: 70px;
    text-align: right;
    margin-right: 12px;
    line-height: 26px; }
  .info_account_item strong {
    color: #000;
    overflow: hidden;
    line-height: 26px; }

.info_account_item_content {
  overflow: hidden; }

.info_account_item_edit {
  display: inline-block;
  margin-left: 5px;
  padding: 0 8px; }

.info_account_item_password {
  position: relative;
  top: 3px; }

.info_account_item_Last {
  display: none;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-left: -25px; }
  .info_account_item_Last input {
    margin-left: 15px; }

.info_resize_form {
  padding-top: 10px; }

.info_resize_item {
  margin-bottom: 20px; }
  .info_resize_item span {
    float: left;
    width: 90px;
    text-align: right;
    margin-right: 12px;
    line-height: 26px; }
  .info_resize_item input[type="password"] {
    overflow: hidden;
    width: 170px; }

.info_resize_item:last-child {
  padding-top: 5px;
  padding-left: 100px; }
  .info_resize_item:last-child input {
    margin-left: 15px; }

/*# sourceMappingURL=info.css.map */